@use '../../styles/index.scss' as cssVariables;

:host {
    p-toast::ng-deep {
        div.p-toast-summary {
            font-size: 12px;
        }

        div.p-toast-detail {
            font-size: 20px;
        }
    }

    p-dialog.calculate-contribution::ng-deep {
        div.p-dialog-content {
            overflow: hidden;
            overflow-wrap: break-word;
            width: 100%;
            word-wrap: break-word;

            div.contribution-content {
                align-items: flex-start;
                display: flex;
                flex-direction: column;
                height: 100%;
                justify-content: flex-start;
                width: 100%;

                div.amount-content {
                    align-items: center;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                }

                p-iftalabel {
                    margin: 5px;
                }

                p-table {
                    width: 100%;
                }
            }
        }

        .right-button {
            margin-left: 10px;
        }
    }

    ::ng-deep .p-cell-editing {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
}