@use '../styles/index.scss' as cssVariables;

:host {
    width: 100%;
}

p-toolbar {
    border-radius: 0;
    height: cssVariables.$header-height;
    width: 100%;

    .sw-logo {
        font-weight: 600;
        margin: 0 10px;
    }

    .sw-action-container {
        cursor: pointer;
        margin: 0 10px;

        .sw-action-item {
            color: cssVariables.$white;
            font-size: 15px;
            margin: 0 5px;
        }
    }

}