<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<p-toolbar>
    <ng-template #start>
        <a class="logo sw-logo">Stock <span class="lite">Wallet</span></a>
    </ng-template>
    <ng-template #center>
        <app-login-inline *ngIf="!isUserLogged()"></app-login-inline>
    </ng-template>
    <ng-template #end>
        <ng-container *ngIf="isUserLogged()">
            <div class="sw-action-container">
                <i class="pi pi-user" style="font-size: 1.2rem"></i>
                <span class="sw-action-item">{{ user()?.displayName ?? user()?.email }}</span>
            </div>
            <div class="sw-action-container" (click)="logout()">
                <i class="pi pi-power-off" style="font-size: 1.2rem"></i>
                <a class="sw-action-item">Log out</a>
            </div>
        </ng-container>
    </ng-template>
</p-toolbar>