<!-- portfolio bar -->
<p-toolbar class="portfolio-bar">
    <ng-template #start>
        @if (isLoading()) {
        <p-skeleton shape="circle" size="3rem" styleClass="mr-2" />
        }
        @for (item of portfolio(); track $index) {
        <p-chip [class.selected]="portfolioSelected()?.id === item.id" [label]="item.name" icon="pi pi-wallet"
            (click)="onPortfolioSelected(item)" />
        }
        <p-button aria-label="Add" icon="pi pi-plus" [rounded]="true" [raised]="true" severity="contrast" size="large"
            [disabled]="!isUserLogged()" (click)="onAddClicked()" />
    </ng-template>
    <ng-template #center></ng-template>
    <ng-template #end></ng-template>
</p-toolbar>