@use '../../../styles/index.scss' as cssVariables;

:host {
    display: flex;
    height: calc(100% - #{cssVariables.$portfolio-bar-height + cssVariables.$main-top-bar-height});

    p-tabs {
        height: 100%;
        width: 100%;

        p-tabpanels {
            height: calc(100% - 42px);
        }
    }
}