<!-- main content panel -->
@if (tabs().length) {
<p-tabs [value]="selectedTab().index">
    <p-tablist>
        @for (tab of tabs(); track $index) {
        <p-tab [value]="tab.index" (click)="onTabClicked(tab)">{{ tab.title }}</p-tab>
        }
    </p-tablist>
    <p-tabpanels>
        @for (tab of tabs(); track $index) {
        <p-tabpanel [value]="tab.index">
            @switch (tab.tabType) {
            @case (tabTypes.general) {
            <app-general></app-general>
            }
            @case (tabTypes.stats) {
            <app-stats></app-stats>
            }
            }
        </p-tabpanel>
        }
    </p-tabpanels>
</p-tabs>
}