<!-- portfolio bar -->
<app-portfolio-bar></app-portfolio-bar>

<!-- main top portfolio panel -->
<app-main-top-bar></app-main-top-bar>

<!-- main content panel -->
<app-main-content></app-main-content>

<!-- create portfolio dialog -->
<app-create-portfolio-dialog></app-create-portfolio-dialog>

<!-- register purchase dialog -->
<app-register-purchase></app-register-purchase>

<!-- delete portfolio dialog -->
<app-delete-portfolio></app-delete-portfolio>

<!-- edit ticker contributions dialog -->
<app-update-contributions></app-update-contributions>