@use '../../styles/index.scss' as cssVariables;

$portfolio-bar-height: 50px;
$main-top-bar-height: 100px;

:host {
    background-color: cssVariables.$vivaown;
    display: block;
    height: 100%;
    width: 100%;

    ::ng-deep img.stock-image {
        height: 25px;
        margin-right: 10px;
        border-radius: 10%;
    }

    ::ng-deep .save-button {
        margin-left: 10px;
    }

    p-toolbar.portfolio-bar {
        display: block;

        ::ng-deep div.p-toolbar {
            height: $portfolio-bar-height;
        }
    }

    p-chip {
        margin-right: 10px;

        &.selected {
            border: solid 2px cssVariables.$blue;
        }
    }

    p-toolbar.main-top-bar {
        border-radius: 0;
        display: block;
        width: 100%;

        ::ng-deep div.p-toolbar {
            height: $main-top-bar-height;

            div.p-toolbar-start,
            div.p-toolbar-center,
            div.main-numbers-panel {
                align-items: start;
                display: flex;
                height: 100%;
                justify-content: flex-start;
                flex-direction: column;

                .total-value {
                    color: cssVariables.$green;
                }
            }

            div.p-toolbar-start,
            div.p-toolbar-center {
                width: 450px;
            }

            div.p-toolbar-end {
                align-items: end;
                display: flex;
                flex-direction: column;
                height: 100%;
                justify-content: space-between;
                width: 150px;
            }

            p-button.register-purchase button,
            p-button.delete-portfolio button {
                font-size: 13px;
                height: 25px;
                width: 140px;
            }
        }
    }

    p-toolbar.main-content-bar {
        border-radius: 0;
        width: 100%;

        ::ng-deep div.p-toolbar {
            height: calc(100% - #{$portfolio-bar-height + $main-top-bar-height});

            div.p-toolbar-start,
            div.p-toolbar-center,
            div.p-toolbar-end {
                align-items: start;
                height: 100%;
                justify-content: start;
                flex-direction: row;

                .charts-container {
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    .shares-type {
                        width: 100%;
                    }

                    .chart-row {
                        align-items: start;
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        width: 100%;
                    }
                }
            }
        }

        p-card {
            border: 2px solid cssVariables.$sojoown;
            border-radius: 6px;
            margin: 2px;

            &.holding-card {
                height: 100%;
                width: 580px;
            }
        }
    }

    p-chart {
        display: block;
        width: 360px;
    }

    p-dialog.register-purchase-dialog ::ng-deep p-iftalabel {
        margin: 5px;

        .uppercase {
            text-transform: uppercase;
        }

        p-autocomplete.uppercase::ng-deep input {
            text-transform: uppercase;
        }
    }

    p-dialog.delete-portfolio::ng-deep {
        div.p-dialog-content {
            overflow: hidden;
            overflow-wrap: break-word;
            width: 100%;
            word-wrap: break-word;
        }

        .delete-button {
            margin-left: 10px;
        }
    }

    p-dialog.edit-portfolio::ng-deep {
        div.p-dialog-content {
            overflow: hidden;
            overflow-wrap: break-word;
            width: 100%;
            word-wrap: break-word;

            p-card.edit-holding-card {
                display: block;
                height: 330px;
                overflow: hidden;
            }

            div.edit-form {
                align-items: flex-end;
                display: flex;
                flex-direction: row;
                margin-bottom: 4px;
                justify-content: flex-start;

                * {
                    margin: 0 2px;
                }

                p-button.register-sale button {
                    height: 30px;
                }
            }
        }
    }
}