<!-- portfolio bar -->
<p-toolbar class="portfolio-bar">
    <ng-template #start>
        @if (isLoading()) {
        <p-skeleton shape="circle" size="3rem" styleClass="mr-2" />
        }
        @for (item of portfolio(); track $index) {
        <p-chip [class.selected]="portfolioSelected()?.id === item.id" [label]="item.name" icon="pi pi-wallet"
            (click)="onPortfolioSelected(item)" />
        }
        <p-button aria-label="Add" icon="pi pi-plus" [rounded]="true" [raised]="true" severity="contrast" size="large"
            (click)="onAddClicked()" />
    </ng-template>
    <ng-template #center></ng-template>
    <ng-template #end></ng-template>
</p-toolbar>
<!-- main top portfolio panel -->
<p-toolbar class="main-top-bar">
    <ng-template #start>
        <div class="main-numbers-panel">
            <span>{{ portfolioSelected()?.description }}</span>
        </div>
    </ng-template>
    <ng-template #center>
        <div class="main-numbers-panel">
            <span>Contributions: <span class="total-value">{{ portfolioStats()?.totalValue ?? 0 | currency
                    }}</span></span>
            <span>Number of Shares: <span class="total-value">{{ holdings().length }}</span></span>
        </div>
    </ng-template>
    <ng-template #end>
        <p-button class="delete-portfolio" severity="danger" label="Delete Portfolio" icon="pi pi-trash"
            (click)="onPortfolioDeleteClicked()" [disabled]="!portfolioSelected()" />
        <p-button class="register-purchase" severity="info" label="Register Purchase" icon="pi pi-plus"
            (click)="onHoldingAddClicked()" [disabled]="!portfolioSelected()" />
    </ng-template>
</p-toolbar>
<!-- main content panel -->
<p-toolbar class="main-content-bar">
    <!-- charts container -->
    <ng-template #start>
        <div class="charts-container">
            <p-card class="shares-type" header="Types of Shares">
                @if (isHoldingsLoading()) {
                <p-skeleton styleClass="mb-2" />
                } @else {
                <p-metergroup [value]="shareTypes()" />
                }
            </p-card>
            <div class="chart-row">
                <p-card header="Holdings by Amount($) and Percentage">
                    @if (isHoldingsLoading()) {
                    <p-skeleton shape="circle" size="360px" />
                    } @else {
                    <p-chart type="pie" [data]="pieChartHoldingsByAmount()" [options]="pieChartOptions" />
                    }
                </p-card>
                <p-card header="Holdings by Sector">
                    @if (isHoldingsLoading()) {
                    <p-skeleton shape="circle" size="360px" />
                    } @else {
                    <p-chart type="pie" [data]="pieChartHoldingsBySector()" [options]="pieChartOptions" />
                    }
                </p-card>
            </div>
        </div>
    </ng-template>
    <ng-template #center>
    </ng-template>
    <!-- holdings container -->
    <ng-template #end>
        <p-card class="holding-card" header="Holdings">
            @if (isHoldingsLoading()) {
            <p-skeleton width="100%" height="3rem" />
            } @else {
            <p-table [value]="holdings()" size="small" stripedRows [scrollable]="true" scrollHeight="100%"
                [resizableColumns]="true">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="ticker">Ticker<p-sortIcon field="ticker" /></th>
                        <th pSortableColumn="shares">Shares<p-sortIcon field="shares" /></th>
                        <th pTooltip="Average Price" tooltipPosition="left" pSortableColumn="avgPrice">Avg
                            Price<p-sortIcon field="avgPrice" /></th>
                        <th pTooltip="Number of Transactions" tooltipPosition="left" pSortableColumn="transactions">#
                            Tx<p-sortIcon field="transactions" /></th>
                        <th pTooltip="Edit Contributions" tooltipPosition="left">Edit</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-stock>
                    <tr>
                        <td [pTooltip]="stock.name" tooltipPosition="top">
                            <img class="stock-image" [src]="stock.imgSource" alt=""
                                onerror="this.style.display='none'" />
                            {{ stock.name | slice:0:20 }} @if (stock.name?.length > 20) { ... } ({{ stock.ticker }})
                        </td>
                        <td>{{ stock.shares }}</td>
                        <td>{{ stock.avgPrice | currency }}</td>
                        <td>{{ stock.transactions }}</td>
                        <td><p-button aria-label="Update Contributions" icon="pi pi-file-edit"
                                pTooltip="Update Contributions" tooltipPosition="left" [rounded]="true" [raised]="true"
                                severity="info" size="large" (click)="onEditHoldingClicked(stock)" />
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            }
        </p-card>
    </ng-template>
</p-toolbar>

<!-- create portfolio dialog -->
<p-dialog header="Create Portfolio" [modal]="true" [(visible)]="showPortfolioDialog"
    [style]="{ width: '30rem', height: '30rem' }" (onHide)="onPortfolioCancelClicked()">
    <ng-container [formGroup]="portfolioForm">
        <p-iftalabel>
            <input pInputText id="name" formControlName="name" />
            <label for="name">Porfolio Name</label>
        </p-iftalabel>
        <p-iftalabel>
            <textarea rows="5" cols="30" pTextarea formControlName="description" style="resize: none"></textarea>
            <label for="description">Description</label>
        </p-iftalabel>
    </ng-container>
    <ng-template #footer>
        <div class="dialog-flex justify-end gap-2">
            <p-button label="Cancel" severity="secondary" (click)="onPortfolioCancelClicked()" />
            <p-button class="save-button" label="Save" (click)="onPortfolioSaveClicked()"
                [disabled]="!portfolioForm.valid" />
        </div>
    </ng-template>
</p-dialog>

<!-- add holding dialog -->
<p-dialog class="register-purchase-dialog" header="Register Purchase" [modal]="true" [(visible)]="showHoldingDialog"
    [style]="{ width: '40rem', height: '45rem' }" (onHide)="onHoldingCancelClicked()">
    <ng-container [formGroup]="holdingForm">
        <!-- <p-iftalabel>
            <input class="uppercase" pInputText id="ticker" formControlName="ticker" />
            <label for="ticker">Ticker</label>
        </p-iftalabel> -->
        <p-iftalabel>
            <p-autocomplete class="uppercase" id="ticker" formControlName="ticker" delay="300"
                [suggestions]="filteredStocks()" (completeMethod)="filterByTicker($event)" optionLabel="symbol"
                appendTo="body" dataKey="symbol" [pAutoFocus]="true">
                <ng-template let-ticker #item>
                    <div class="flex items-center gap-2">
                        <div>{{ ticker.symbol }} - {{ ticker.name }} - {{ ticker.exchDisp }} ({{ ticker.typeDisp }})
                        </div>
                    </div>
                </ng-template>
            </p-autocomplete>
            <label for="ticker">Ticker</label>
        </p-iftalabel>
        <p-iftalabel>
            <p-inputnumber inputId="shares" formControlName="shares" mode="decimal" [minFractionDigits]="2"
                [maxFractionDigits]="5" />
            <label for="shares">Shares</label>
        </p-iftalabel>
        <p-iftalabel>
            <p-datepicker id="dateOfPurchase" formControlName="dateOfPurchase" appendTo="body" />
            <label for="dateOfPurchase">Date of Purchase</label>
        </p-iftalabel>
        <p-iftalabel>
            <p-inputnumber inputId="price" formControlName="price" mode="decimal" [minFractionDigits]="2"
                [maxFractionDigits]="5" />
            <label for="price">Price</label>
        </p-iftalabel>
        <p-iftalabel>
            <textarea rows="5" cols="30" pTextarea formControlName="notes" style="resize: none"></textarea>
            <label for="notes">Notes</label>
        </p-iftalabel>
    </ng-container>
    <ng-template #footer>
        <div class="dialog-flex justify-end gap-2">
            <p-button label="Cancel" severity="secondary" (click)="onHoldingCancelClicked()" />
            <p-button class="save-button" label="Save" (click)="onHoldingSaveClicked()"
                [disabled]="!holdingForm.valid" />
        </div>
    </ng-template>
</p-dialog>

<!-- delete portfolio dialog -->
<p-dialog class="delete-portfolio" header="Delete Portfolio" [modal]="true" [(visible)]="showPortfolioDeleteDialog"
    [style]="{ width: '35rem', height: '22rem' }" (onHide)="onPortfolioDeleteCancelClicked()">
    <p>
        Are you sure you want to delete "{{ portfolioSelected()?.name }}"?
    </p>
    <p>
        This action will delete all holdings.
        There is no going back from this!!!!
    </p>
    <ng-template #footer>
        <div class="dialog-flex justify-end gap-2">
            <p-button label="Cancel" severity="secondary" (click)="onPortfolioDeleteCancelClicked()" />
            <p-button class="delete-button"
                [label]="isPortfolioDeleteDisabled() ? 'Wait ' + countdown + 's' : 'Yes, remove it!'" severity="danger"
                [disabled]="isPortfolioDeleteDisabled()" (click)="onPortfolioDeleteOkClicked()" />
        </div>
    </ng-template>
</p-dialog>

<!-- edit ticker contributions dialog -->
<p-dialog class="edit-portfolio" header="Update Contributions" [modal]="true" [(visible)]="showEditHoldingDialog"
    [style]="{ width: '100rem', height: '55rem' }" (onHide)="onEditHoldingCancel()">
    <p-card class="edit-holding-card">
        <p-table [value]="selectedHoldings()" size="small" stripedRows sortField="dateOfPurchase" [sortOrder]="-1"
            [scrollable]="true" scrollHeight="300px">
            <ng-template pTemplate="header">
                <tr>
                    <th>Ticker</th>
                    <th pSortableColumn="shares">Shares<p-sortIcon field="shares" /></th>
                    <th pSortableColumn="price">Price<p-sortIcon field="price" /></th>
                    <th pSortableColumn="dateOfPurchase">Date of Purchase<p-sortIcon field="dateOfPurchase" /></th>
                    <th pSortableColumn="notes">Notes<p-sortIcon field="notes" /></th>
                    <th>Edit Contributions</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-stock>
                <tr>
                    <td [pTooltip]="stock.name" tooltipPosition="top">
                        {{ stock.name | slice:0:20 }} @if (stock.name?.length > 20) { ... } ({{ stock.ticker }})
                    </td>
                    <td>{{ stock.shares }}</td>
                    <td>{{ stock.price | currency }}</td>
                    <td>{{ stock.dateOfPurchase | date: 'MM/dd/yyyy' }}</td>
                    <td [pTooltip]="stock.notes" tooltipPosition="top">
                        {{ stock.notes | slice:0:30 }}
                        @if (stock.notes?.length > 30) { ... }
                    </td>
                    <td><p-button aria-label="Update Contribution" icon="pi pi-file-edit" pTooltip="Update Contribution"
                            tooltipPosition="left" [rounded]="true" [raised]="true" severity="info" size="large"
                            (click)="onEditHoldingItemClicked(stock)" />
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-card>
    <ng-container [formGroup]="editHoldingItemForm">
        <div class="edit-form">
            <p-iftalabel>
                <input pInputText id="ticker" formControlName="ticker" />
                <label for="ticker">Ticker</label>
            </p-iftalabel>
            <p-iftalabel>
                <p-inputnumber inputId="shares" formControlName="shares" mode="decimal" [minFractionDigits]="2"
                    [maxFractionDigits]="5" />
                <label for="shares">Shares</label>
            </p-iftalabel>
            <p-iftalabel>
                <p-datepicker id="dateOfPurchase" formControlName="dateOfPurchase" appendTo="body" />
                <label for="dateOfPurchase">Date of Purchase</label>
            </p-iftalabel>
            <p-iftalabel>
                <p-inputnumber inputId="price" formControlName="price" mode="decimal" [minFractionDigits]="2"
                    [maxFractionDigits]="5" />
                <label for="price">Price</label>
            </p-iftalabel>
        </div>
        <div class="edit-form">
            <p-iftalabel>
                <textarea rows="2" cols="80" pTextarea formControlName="notes" style="resize: none"></textarea>
                <label for="notes">Notes</label>
            </p-iftalabel>
            <p-button aria-label="Register Sale" severity="warn" label="Register Sale" icon="pi pi-tag"
                pTooltip="Register Sale" tooltipPosition="top" (click)="onTransactionDeleteClicked()"
                [disabled]="!editHoldingItemForm.valid" />
            <p-button aria-label="Save record" severity="success" label="Save Tx" icon="pi pi-save"
                pTooltip="Save Transaction" tooltipPosition="top" [disabled]="!editHoldingItemForm.valid"
                (click)="onTransactionUpdateClicked()" />
        </div>
    </ng-container>
    <ng-template #footer>
        <div class="dialog-flex justify-end gap-2">
            <p-button label="Close" severity="secondary" (click)="onEditHoldingCancel()" />
        </div>
    </ng-template>
</p-dialog>