:host {
    background-color: #0e1315;
    display: block;
    height: 100%;
    width: 100%;

    ::ng-deep p-chip {
        cursor: pointer;

        span.p-chip-icon {
            align-items: center;
            display: flex;
        }

        div.p-chip-label {
            display: flex;
            margin-left: 8px;
        }
    }

    ::ng-deep p-dialog {
        span.p-dialog-title {
            font-size: 20px;
        }

        * {
            font-size: 15px !important;
        }
    }

    ::ng-deep p-iftalabel input,
    ::ng-deep p-iftalabel p-inputnumber,
    ::ng-deep p-iftalabel p-datepicker span,
    ::ng-deep p-iftalabel p-inputmask {        
        width: 100%;
    }
}