@use '../../styles/index.scss' as cssVariables;

:host {
    ::ng-deep .save-button {
        margin-left: 10px;
    }

    p-dialog.register-purchase-dialog ::ng-deep p-iftalabel {
        margin: 5px;

        .uppercase {
            text-transform: uppercase;
        }

        p-autocomplete.uppercase::ng-deep input {
            text-transform: uppercase;
        }
    }

    div.radio-button-container {
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        div.radio-button {
            display: flex;
            flex-direction: row;
            margin-left: 15px;

            p-radiobutton {
                align-items: center;
                display: flex;
                flex-direction: row;
                height: 20px;
                justify-content: flex-start;
                margin-right: 5px;
            }
        }
    }

    span.radio-button-label {
        margin-left: 5px;
    }
}