<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div
    id="sidebar"
    class="nav-collapse"
    tabindex="5000"
    style="overflow: hidden; outline: none"
>
    <!-- sidebar menu start-->
    <ul class="sidebar-menu">
        <!-- <li class="active"></li> -->
        <!-- <li class="sub-menu"></li> -->
        <li *ngFor="let section of sections">
            <a (click)="onSectionSelected(section)" [class.disabled]="section.disabled">
                <i [class]="section.iconClass"></i>
                <span>{{section.name}}</span>
            </a>
        </li>
    </ul>
    <!-- sidebar menu end-->
</div>
