@use '../styles/index.scss' as cssVariables;

div#sidebar {
    width: 180px;
    height: 100%;
    position: fixed;
    background: cssVariables.$sojoown;
}

ul.sidebar-menu {
    margin-top: 0px;
}

li {
    cursor: pointer;

    a {
        display: flex;

        &.disabled {
            cursor: not-allowed;
        }
    }

    a:hover {
        display: flex;
    }
}