@use '../styles/index.scss' as cssVariables;

div#sidebar {
    width: 180px;
    height: 100%;
    position: fixed;
    background: cssVariables.$sojoown;
}

ul.sidebar-menu {
    margin-top: 0px;
}

li {
    cursor: pointer;

    a {
        border-right: none;
        border-bottom: none;
        display: flex;

        &:hover {
            border-right: none;
            border-bottom: none;
        }

        &.disabled {
            cursor: not-allowed;
        }

        &.selected {
            background-color: cssVariables.$sw-dark;
        }
    }

    a:hover {
        display: flex;
    }
}