@use '../styles/index.scss' as cssVariables;

:host {
    display: flex;
    height: 30px;
    width: 100%;

    p-toast::ng-deep {
        div.p-toast-summary {
            font-size: 15px;
        }

        div.p-toast-detail {
            font-size: 18px;
        }
    }

    form.sw-login-container {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        * {
            margin: 0 3px;
        }

        .google-button {
            @include cssVariables.button-style-shared();

            .google-icon {
                margin-right: 10px;
            }
        }

        .sw-action-buttons {
            @include cssVariables.button-style-shared();
        }

        .login-or {
            font-size: 15px;
            font-weight: bolder;
            margin: 0 10px;
        }

        .sw-input-group {
            @include cssVariables.button-style-shared();
            padding: 0;

            .sw-form-control {
                @include cssVariables.button-style-shared();
                border-radius: 6px;
                width: 200px;
            }
        }

        .sw-forgot a {
            color: cssVariables.$white;
            cursor: pointer;
            display: inline-block;
            font-size: 12px;
            line-height: 1.2;
        }
    }
}