@use '../styles/index.scss' as cssVariables;

$header-margin: 5px;

:host {
    background-color: cssVariables.$vivaown;
    display: block;
    font-size: 15px;
    height: 100%;
    width: 100%;
}

section#main-content {
    height: calc(100% - #{cssVariables.$header-height + ($header-margin * 2)});

    &.full {
        margin-left: 0;
    }
}