@use '../styles/index.scss' as cssVariables;

:host {
    background-color: cssVariables.$gray;
    display: block;
    height: 100%;
    width: 100%;
}

section#main-content {
    height: calc(100% - #{cssVariables.$header-height});
}